#mainscreen {
    background-image: url(main-bg.jpg);
    background-color: #000;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

#game-choice { 
    background-image: url(the-games-bg.jpg);
    background-color: #000;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

#game-character { 
    background-image: url(features.jpg);
    background-color: black;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

#game-requirement {
    background-image: url(requirements.png);
    background-color: #000;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

#tops-score {
    background-image: url(top-score-bg.png);
    background-color: #000;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}