#homepage { 
    background-image: url(main-bg.jpg);
    background-color: #cccccc;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
  
.center {
    color: white;
    font-size: 70px;
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -30%);
    font-family: 'bebas-neue', sans-serif;
}

.center1  {
    color: white;
    font-size: 36px;
    position: absolute;
    left: 50%;
    top: 45%;
    transform: translate(-50%);
    font-family: 'bebas-neue', sans-serif;
}

.button {
    background-color: #F3AF34;
    border: none;
    color: black;
    padding: 20px 100px;
    text-align: center;
    border-radius: 4px;
    font-family: 'open-sans', sans-serif ;
    position: absolute;
}

.center-button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 110%;
}

#gamechoice { 
    background-image: url(the-games-bg.jpg);
    background-color: #cccccc;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

#carouselExampleIndicators {
    height: 477px;
    width: 858px;
    position: absolute;
    top: 30%;
    left: 25%;
}

.text {
    color: white;
    font-size: 40px;
    position: absolute;
    left: 20%;
    top: 15%;
    transform: translate(-50%);
    font-family: 'bebas-neue', sans-serif;
}

.p2 {
    position: absolute;
    left: 22%;
    top: 20%;
    transform: translate(-50%);
    font-family: 'bebas-neue', sans-serif;
    font-size: 70px;
}

.desctext {
    color: white;
    font-size: 70px;
    position: absolute;
    left: 22%;
    top: 18%;
    transform: translate(-50%);
    font-family: 'bebas-neue', sans-serif;
}

#character { 
    background-image: url(features.jpg);
    background-color: #cccccc;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

#rcorners1 {
    border-radius: 25px;
    background: white;
    width: 25px;
    height: 25px;
}
  
#rcorners2 {
    border-radius: 25px;
    border: 2px solid white; 
    width: 25px;
    height: 25px;  
}

#rcorners3 {
    border-radius: 25px;
    border: 2px solid white; 
    width: 25px;
    height: 25px;  
}

.vl {
    border-left: 2px solid white;
    height: 170px;
}

.p3 {
    position: absolute;
    left: 64%;
    top: 20%;
    transform: translate(-50%);
    font-family: 'bebas-neue', sans-serif;
    font-size: 40px;
}

.p4 {
    position: absolute;
    left: 65%;
    top: 26%;
    transform: translate(-50%);
    font-family: 'bebas-neue', sans-serif;
    font-size: 70px;
}

.p5 {
    position: absolute;
    left: 68%;
    top: 40%;
    transform: translate(-50%);
    font-family: 'bebas-neue', sans-serif;
    font-size: 30px;
    color: #F3AF34;
}

.p6 {
    position: absolute;
    left: 64%;
    top: 60%;
    transform: translate(-50%);
    font-family: 'bebas-neue', sans-serif;
    font-size: 30px;
    color: #F3AF34;
}

.p7 {
    position: absolute;
    left: 61.5%;
    top: 70%;
    transform: translate(-50%);
    font-family: 'bebas-neue', sans-serif;
    font-size: 30px;
    color: #F3AF34;
}

.p8 {
    position: absolute;
    left: 70%;
    top: 46%;
    transform: translate(-50%);
    font-family: 'bebas-neue', sans-serif;
    font-size: 23px;
    color: white;
}

#requirements {
    background-image: url(requirements.png);
    background-color: #cccccc;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

table, td, th {
    border: 2px solid grey;
  }
  
  table {
    position: relative;
    width: 40%;
    height: 25%;
    border-collapse: collapse;
    top: 35%;
    left: 10%;
  }

.p9 {
    position: absolute;
    left: 20%;
    top: 10%;
    transform: translate(-50%);
    font-family: 'bebas-neue', sans-serif;
    font-size: 50px;
    color: white;
}

.p10 {
    position: absolute;
    left: 50%;
    top: 11%;
    transform: translate(-50%);
    font-family: 'bebas-neue', sans-serif;
    font-size: 18px;
    color: white;
}

#topscores {
        background-image: url(top-scores-bg.jpg);
        background-color: #cccccc;
        height: 100vh;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
}

#testi {
    border-radius: 10px;
    background: grey;  
    padding: 20px; 
    width: 400px;
    height: 200px;
    opacity: 0.5;
}

#testi2 {
    border-radius: 10px;
    background: grey;
    padding: 20px; 
    width: 400px;
    height: 200px;  
    opacity: 0.5;
}

#testi3 {
    border-radius: 10px;
    background: grey;
    padding: 20px; 
    width: 400px;
    height: 200px;  
    opacity: 0.5;
}

.p15 {
    color: #F3AF34;
    font-size: 25px;
    top: 12%;
    left: 63%;
}

.p16 {
    color: white;
    font-size: 18px;
    top: 14.5%;
    left: 62.2%;
}

.correction {
    font-size: 18px;
    top: 20%;
    left: 67%;
}

.twitter {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 12.5%;
    left: 74%;
}

.l2 {
    top: 35%;
    left: 64%;
}

.l3 {
    top: 59%;
    left: 74%;
}

.p17 {
    color: #F3AF34;
    font-size: 25px;
    top: 35%;
    left: 53%;
}

.p18 {
    color: white;
    font-size: 18px;
    top: 37.5%;
    left: 52.3%;
}

.correction2 {
    font-size: 18px;
    top: 43%;
    left: 56%;
}

.p19 {
    color: #F3AF34;
    font-size: 25px;
    top:59%;
    left: 65%;
}

.p20 {
    color: white;
    font-size: 18px;
    top: 61.5%;
    left: 62%;
}

.correction3 {
    font-size: 18px;
    top: 66%;
    left: 66%;
}

.p11 {
        position: absolute;
        left: 18%;
        top: 30%;
        transform: translate(-50%);
        font-family: 'bebas-neue', sans-serif;
        font-size: 60px;
        color: white;    
}

.p12 {
    position: absolute;
    left: 18%;
    top: 40%;
    transform: translate(-50%);
    font-family: 'bebas-neue', sans-serif;
    font-size: 20px;
    color: white;    
}

.left-button {
        display: flex;
        justify-content: left;
        align-items: center;
        height: 115%;
        padding: 8%;
}

#newsletter {
    background-image: url(top-scores-bg.jpg);
    background-color: #cccccc;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.p14 {
    position: absolute;
    left: 50.5%;
    top: 36%;
    transform: translate(-50%);
    font-family: 'bebas-neue', sans-serif;
    font-size: 30px;
    color: white; 
}
.p13 {
    position: absolute;
    left: 60%;
    top: 40%;
    transform: translate(-50%);
    font-family: 'bebas-neue', sans-serif;
    font-size: 50px;
    color: white;    
}

.desc {
    position: absolute;
    left: 61%;
    top: 48%;
    transform: translate(-50%);
    font-family: 'bebas-neue', sans-serif;
    font-size: 20px;
    color: white;
}

.right-button {
    display: flex;
    justify-content: right;
    align-items: center;
    height: 140%;
    padding-left: 70%; 
}

.monkey{
    position: absolute;
    width: 500px;
    height: 600px;
    top: 13%;
    left: 13%;
}

#testi4 {
    border-radius: 10px;
    background: grey;
    padding: 20px; 
    width: 450px;
    height:65px;  
    opacity: 0.5;
}

.email{
    color: #F3AF34;
    position: absolute;
    font-size: 30px;
    top: 67.5%;
    left: 47%;
}

.menu-text {
    color: white;
    font-family: 'bebas-neue', sans-serif;
    font-size: 18px;
    position: relative;
    top: 10%;
    right: 180% ;
}

.m1 {
    right: 160%;
}

.m2 {
    right: 140%;
}

.m3 {
    right: 130%
}

.m4 {
    left: 120%;
}
.facebook {
    height: 30px;
    width: 30px;
    position: absolute;
    top: 82%;
    left: 65%;
}

.twt {
    height: 30px;
    width: 30px;
    position: absolute;
    top: 82%;
    left: 70%;
}

.youtube {
    height: 30px;
    width: 30px;
    position: absolute;
    top: 82%;
    left: 75%;
}

.twitch {
    height: 30px;
    width: 30px;
    position: absolute;
    top: 82%;
    left: 80%;
}

.line1 {
    border-top: 10px solid red;
    display: absolute;
    /* top: ; */
}